@model IEnumerable<FootballManager.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<div class="minimal-card">
<h1>Players</h1>

<table class="minimal-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
            <th>Nationality</th>
            <th>Team</th>
            <th>Market Value (M€)</th>
            <th>Morale</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var player in Model)
{
    <tr>
        <td><a asp-action="Details" asp-route-id="@player.Id">@player.Name</a></td>
        <td>@player.Age</td>
        <td>@player.Position</td>
        <td>@player.Nationality</td>
        <td>
        @if (player.Team != null)
        {
            <a asp-controller="Teams" asp-action="Details" asp-route-id="@player.Team.Id">@player.Team.Name</a>
        }
        else
        {
        <span>Free Agent</span>
        }
        </td>
        <td>@player.MarketValue</td>
        <td>@player.GetMoraleDescription()</td>
    </tr>
}
    </tbody>
</table>
</div>