@model FootballManager.Models.StaffMember

@{
    ViewData["Title"] = "Staff Member Details";
}

<div class="minimal-card">
<h1>Staff Member Details</h1>

    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Job</dt>
        <dd class="col-sm-10">@Model.Job</dd>

        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">
            @if (Model.StartDate != null)
            {
                @Model.StartDate.Value.ToString("yyyy-MM-dd")
            }
            else
            {
                <span>N/A</span>
            }
        </dd>

        <dt class="col-sm-2">Team</dt>
        <dd class="col-sm-10">
            @if (Model.Team != null)
            {
                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.Team.Id">@Model.Team.Name</a>
            }
            else
            {
                <span>Free Agent</span>
            }
        </dd>

        <dt class="col-sm-2">Leadership</dt>
        <dd class="col-sm-10">@Model.Leadership</dd>

        <dt class="col-sm-2">Communication</dt>
        <dd class="col-sm-10">@Model.Communication</dd>

        <dt class="col-sm-2">Training Knowledge</dt>
        <dd class="col-sm-10">@Model.TrainingKnowledge</dd>

        <dt class="col-sm-2">Tactical Knowledge</dt>
        <dd class="col-sm-10">@Model.TacticalKnowledge</dd>

        <dt class="col-sm-2">Decision Making</dt>
        <dd class="col-sm-10">@Model.DecisionMaking</dd>
    </dl>
    <a asp-action="Index">Back to List</a>
</div>